/* Page Styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Multi Column Layout */
.newsArticle {

    column-count: 2;

    column-gap: 30px;

    column-rule: 1px solid gray;

    text-align: justify;

    font-size: 18px;
}